extends ../layout/layout

append css_content
  link(rel='stylesheet', href='/css/admin.css')

block content
  input(type='hidden', id='admin_csrf', value='#{csrf_token}')
  #adminapp

append js_content
  script(src='js/admin/bundle.js')