.row
  article.col-md-6
    include article
  article.col-md-6
    include article
.row
  article.col-md-4
    include article
  article.col-md-4
    include article
  article.col-md-4
    include article