.thumbnail.article-brief
  a(href='javascript:{}')
    img.article-brief-img(src='/demo/' + img + '.png')
  .article-brief-info
    a.article-brief-author(href='javascript:{}')
      img.article-brief-author-avatar(src='/avatar/#{req.user.name}')
      | #{req.user.name}
    a.article-brief-title(href='javascript:{}') Citizen AT8020-54L 蓝天使计时腕表开箱
- img = img + 1