- if(homeArticles.length >= articleIndex + 2)
  .row
    article.col-md-6
      include index-article
    article.col-md-6
      include index-article
- if(homeArticles.length >= articleIndex + 3)
  .row
    article.col-md-4
      include index-article
    article.col-md-4
      include index-article
    article.col-md-4
      include index-article