.row
  article.col-md-6
    include index-article
  article.col-md-6
    include index-article
.row
  article.col-md-4
    include index-article
  article.col-md-4
    include index-article
  article.col-md-4
    include index-article