.row
  .col-md-4
    a.thumbnail.cate-brief(href='/articles/categorys/desk')
      img(src='/img/desk.png')
      .cate-brief-title
        strong 晒桌
  .col-md-4
    a.thumbnail.cate-brief(href='/articles/categorys/good')
      img(src='/img/love.png')
      .cate-brief-title
        strong 好物
  .col-md-4
    a.thumbnail.cate-brief(href='/articles/categorys/tech')
      img(src='/img/tech.png')
      .cate-brief-title
        strong 黑科技