- var star = 1
.row
  article.col-md-2
    include index-star
  article.col-md-2
    include index-star
  article.col-md-2
    include index-star
  article.col-md-2
    include index-star
  article.col-md-2
    include index-star
  article.col-md-2
    include index-star