.row
  .col-md-4
    a.thumbnail.cate-brief(href='javascript:{}')
      img(src='/demo/desk.png')
      .cate-brief-title
        strong 晒桌
  .col-md-4
    a.thumbnail.cate-brief(href='javascript:{}')
      img(src='/demo/love.png')
      .cate-brief-title
        strong 好物
  .col-md-4
    a.thumbnail.cate-brief(href='javascript:{}')
      img(src='/demo/tech.png')
      .cate-brief-title
        strong 黑科技