- var star = 1
.row
  article.col-md-2
    include star
  article.col-md-2
    include star
  article.col-md-2
    include star
  article.col-md-2
    include star
  article.col-md-2
    include star
  article.col-md-2
    include star