extends layout

block content
  .row.post-wrap
    .col-md-7
      .post-main
        block content-main
    .col-md-5
      .post-aside
        include ../include/aside-user
        include ../include/aside-hot