- var titleEncode = encodeURIComponent(article.title)
article.post-multy
  .post-multy-short
    include article-short
  .post-multy-normal
    include article
  a.text-primary.post-multy-action(href='javascript:{}')
    span.glyphicon.glyphicon-chevron-down
    |  展开