- if(typeof hotArticles !== 'undefined' && hotArticles.length > 0)
  aside.aside-widget
    header
      h1 猜你喜欢
    .aside-widget-body.row
      - for(var i = 0; i < hotArticles.length; i++)
        - var hotArticle = hotArticles[i]
          .col-md-6.aside-widget-item-wrap
            a.aside-widget-item(href='/articles/#{hotArticle._id}', title='#{hotArticle.title}')
              img(src='#{hotArticle.brief.img}.200.square.png')
              .aside-widget-item-text #{hotArticle.title}