- var categorys = []
- categorys.push({id: 'desk', value: '晒桌', icon: 'fire', color: 'success'})
- categorys.push({id: 'good', value: '好物', icon: 'heart-empty', color: 'warning'})
- categorys.push({id: 'tech', value: '黑科技', icon: 'phone', color: 'danger'})