- var filters = []
- filters.push({key:'pzsh',icon:'glyphicon-glass',name:'品质生活'});
- filters.push({key:'ahsc',icon:'glyphicon-heart-empty',name:'爱好收藏'});
- filters.push({key:'kjk',icon:'glyphicon-phone',name:'科技控'});