include post-title
.post-short
  .post-short-right
    img(src='#{article.img}')
    a.post-buy.text-muted(href='javascript:{}')
      span.glyphicon.glyphicon-shopping-cart
      |  京东商城
  | #{article.text}