- var titleEncode = encodeURIComponent(article.title)
.post-multy
  .post-multy-short
    include post-short
  .post-multy-normal
    include post
  a.text-primary.post-multy-action(href='javascript:{}')
    span.glyphicon.glyphicon-chevron-down
    |  展开