.clearfix
  pagination.pagination-sm.admin-pagination(total-items='wrapData.count', ng-model='wrapData.page', ng-change='pageChanged()', max-size='maxSize', boundary-links='true', rotate='false', items-per-page='wrapData.perPage')