doctype 5
html
  head
    meta(charset = 'utf-8')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
    link(rel='stylesheet', media='screen', href='/vendor/bootstrap-3.0.0/css/bootstrap.css')
    link(rel='stylesheet', href='/css/demo1.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  body
    header
      .container
        .logo Dililili
        .account-box
          a(href='javascript:{}') 注册/登录
          a(href='javascript:{}') 关于我们
    .container
      .row
        .col-md-9
          .main
            .content
              .content-info
                .user-image
                h1.content-title 高大上的LEGO星战系列10227
                .send-time 2013-08-12 22:40
              .content-item-list
                .content-item
                  p 最近被毒最深的就是LEGO。看过各类拼装帖子后已经不断的掉入LEGO坑，各个系列各个SET。
                  | 既然入了坑，那就要把染上的毒散播出去，这才是Dililili的精髓.
                  | 因此,要把一些精品都放上来和大家分享,预计能分很多系列,一个一个更新,首先就是本人的首款星战UCS系列的set.
                  p 根据哥以往的习惯,本帖一共分为3篇.背景篇,拼装篇,最后是成品篇.
                hr
                .content-item
                  h2 背景篇
                  p 这里就不介绍品牌了,本篇主要还是介绍一下这个set的内容,由于这款B wing在电影中没有提及,所以知名度不高,不过个人认为是一款非常精彩的飞船.以下是机体电影中的设定
                .content-item
                  p B翼星际战斗机可能是义军同盟舰队中外观最奇特的星际战斗机。它很丑很强大。这艘飞船的结构几乎完全被其主翼占据。主翼的一端有一个圆桶形驾驶舱，中部是引擎组，底部是重型武器舱。一对S翼就位于引擎组下方，能张开扩大一对激光炮的火力范围。
                  p B翼的驾驶舱有独特的陀螺控制系统。飞行员能改变它的姿态，使它始终平行于预先标识的地平线。不管B翼在横向以何种方式机动，飞行员总是保持正直。
                  img(src='/img/demo1/1.png')
                .content-item
                  p 随着像坦·农布这样的义军飞行员驾驶B翼战斗机投入恩多战役，这种飞船在这场历史性决战中功勋显赫。
                  p 同盟用令人敬畏的X翼和Y翼星际战斗机洗劫帝国护航队，获得了许多必须的供给。作为对这种海盗行径的回应，帝国用全副武装的星际飞舰——护航护卫舰——对抗义军，保护运输线。同盟的反制措施就是B翼星际战斗机。
                  img(src='/img/demo1/2.png')
                .content-item
                  p 在阿克巴上将的监督下，外观奇特的B翼星际战斗机由罗奇小行星带的昆虫形种族韦尔派恩人开发。跟其它韦尔派恩人的飞船一样，B翼有一套复杂的陀螺控制系统，使飞行员在机动过程中总是面朝一个方向。虽然这使这种飞船作为一个武器平台非常稳定，但陀螺仪是工程和维护上的噩梦。
                  p B翼配备了一系列极其强大的武器，包括一门重型离子炮、几枚质子鱼雷、几把自动爆能枪和三门激光炮。可选配置包括三门激光炮、三门离子炮和两个鱼雷发射器。由于是为打击主力舰设计的，因此这种飞船火力惊人，但缺少速度与机动性。
                  img(src='/img/demo1/3.jpg')
                .content-item
                  h3 幕后花絮
                  p B翼战斗机的古怪外型使它原本应得的出场时间大大减少。不管从前面看还是后面看，这种战斗机都极细，在以太空为背景的镜头中，几乎看不见它，所以，许多已计划好的B翼片段都从电影里被剪掉了。
                  p 旋转驾驶舱的灵感来源于原本计划为“千年隼号”设计的造型。
                hr
                .content-item
                  h2 拼装篇
                  p 首先是开箱
                  img(src='/img/demo1/4.jpg')
                .content-item
                  p 外形尺寸
                  img(src='/img/demo1/5.jpg')
                .content-item
                  p 年龄与砖数
                  img(src='/img/demo1/6.jpg')
                .content-item
                  p 背面
                  img(src='/img/demo1/7.jpg')
                .content-item
                  p 10个号码,一共15袋
                  img(src='/img/demo1/8.jpg')
                .content-item
                  p 10个号码分别对应的部分
                  img(src='/img/demo1/9.jpg')
                  img(src='/img/demo1/10.jpg')
                .content-item
                  p 接下来就是1号袋子的拼装了,1号是引擎部分,2个部件拼法一模一样
                  img(src='/img/demo1/11.jpg')
                  img(src='/img/demo1/12.jpg')
                  img(src='/img/demo1/13.jpg')
                .content-item
                  p 引擎
                  img(src='/img/demo1/14.jpg')
                .content-item
                  p 里面五彩的部件基本上都被盖上了,就代表即将拼完了
                  img(src='/img/demo1/15.jpg')
                  img(src='/img/demo1/16.jpg')
                .content-item
                  p 完成
                  img(src='/img/demo1/17.jpg')
                .content-item
                  p 2个做完
                  img(src='/img/demo1/18.jpg')
                .content-item
                  p 合体
                  img(src='/img/demo1/19.jpg')
                  img(src='/img/demo1/20.jpg')
                .content-item
                  p 接下来是2号 3号袋子,不知道是什么部件,只知道是用来连接引擎与驾驶舱的部分
                  img(src='/img/demo1/21.jpg')
                .content-item
                  p 里面还是闷骚的五花肉
                  img(src='/img/demo1/22.jpg')
                  img(src='/img/demo1/23.jpg')
                  img(src='/img/demo1/24.jpg')
                  img(src='/img/demo1/25.jpg')
                  img(src='/img/demo1/26.jpg')
                  img(src='/img/demo1/27.jpg')
                  img(src='/img/demo1/28.jpg')
                .content-item
                  p 完成
                  img(src='/img/demo1/29.jpg')
                .content-item
                  p 2个合体后
                  img(src='/img/demo1/30.jpg')
                  img(src='/img/demo1/31.jpg')
                  img(src='/img/demo1/32.jpg')
                .content-item
                  p 和本体合体
                  img(src='/img/demo1/33.jpg')
                .content-item
                  p 接下来是最壮观的4号 5号的翅膀,霸气四射哦
                  img(src='/img/demo1/34.jpg')
                  img(src='/img/demo1/35.jpg')
                  img(src='/img/demo1/36.jpg')
                  img(src='/img/demo1/37.jpg')
                .content-item
                  p 巨长
                  img(src='/img/demo1/38.jpg')
                  img(src='/img/demo1/39.jpg')
                  img(src='/img/demo1/40.jpg')
                .content-item
                  p 透明件,给特写,应该是个灯
                  img(src='/img/demo1/41.jpg')
                  img(src='/img/demo1/42.jpg')
                .content-item
                  p 完成!霸气四射
                  img(src='/img/demo1/43.jpg')
                .content-item
                  p 2个合体
                  img(src='/img/demo1/44.jpg')
                  img(src='/img/demo1/45.jpg')
                .content-item
                  p 和本体合体,已经能看出个大致造型了
                  img(src='/img/demo1/46.jpg')
                  img(src='/img/demo1/47.jpg')
                .content-item
                  p 6号包,翅膀上的大炮,很有星战味道
                  img(src='/img/demo1/48.jpg')
                  img(src='/img/demo1/49.jpg')
                  img(src='/img/demo1/50.jpg')
                  img(src='/img/demo1/51.jpg')
                  img(src='/img/demo1/52.jpg')
                .content-item
                  p 大炮哦
                  img(src='/img/demo1/53.jpg')
                  img(src='/img/demo1/54.jpg')
                  img(src='/img/demo1/55.jpg')
                  img(src='/img/demo1/56.jpg')
                  img(src='/img/demo1/57.jpg')
                  img(src='/img/demo1/58.jpg')
                  img(src='/img/demo1/59.jpg')
                  img(src='/img/demo1/60.jpg')
                  img(src='/img/demo1/61.jpg')
                  img(src='/img/demo1/62.jpg')
                  img(src='/img/demo1/63.jpg')
                .content-item
                  p 大炮完成
                  img(src='/img/demo1/64.jpg')
                  img(src='/img/demo1/65.jpg')
                .content-item
                  p 合体!!
                  img(src='/img/demo1/66.jpg')
                  img(src='/img/demo1/67.jpg')
                .content-item
                  p 7号袋子,陀螺仪驾驶舱,也是本set最精彩的的部分
                  img(src='/img/demo1/68.jpg')
                  img(src='/img/demo1/69.jpg')
                  img(src='/img/demo1/70.jpg')
                  img(src='/img/demo1/71.jpg')
                  img(src='/img/demo1/72.jpg')
                  img(src='/img/demo1/73.jpg')
                .content-item
                  p 仪表盘特写
                  img(src='/img/demo1/74.jpg')
                  img(src='/img/demo1/75.jpg')
                  img(src='/img/demo1/76.jpg')
                  img(src='/img/demo1/77.jpg')
                .content-item
                  p 传神的驾驶椅
                  img(src='/img/demo1/78.jpg')
                .content-item
                  p 给仪表盘和椅子一个特写
                  img(src='/img/demo1/79.jpg')
                  img(src='/img/demo1/80.jpg')
                  img(src='/img/demo1/81.jpg')
                  img(src='/img/demo1/82.jpg')
                  img(src='/img/demo1/83.jpg')
                .content-item
                  p 固定玻璃罩
                  img(src='/img/demo1/84.jpg')
                  img(src='/img/demo1/85.jpg')
                .content-item
                  p 履带
                  img(src='/img/demo1/86.jpg')
                  img(src='/img/demo1/87.jpg')
                  img(src='/img/demo1/88.jpg')
                  img(src='/img/demo1/89.jpg')
                  img(src='/img/demo1/90.jpg')
                  img(src='/img/demo1/91.jpg')
                  img(src='/img/demo1/92.jpg')
                  img(src='/img/demo1/93.jpg')
                .content-item
                  p 背后的菊花完成
                  img(src='/img/demo1/94.jpg')
                .content-item
                  p 完成!各种酷炫有木有
                  img(src='/img/demo1/95.jpg')
                .content-item
                  p 合体!
                  img(src='/img/demo1/96.jpg')
                .content-item
                  p 8 9两个对称的小翅膀,其实也挺大
                  img(src='/img/demo1/97.jpg')
                  img(src='/img/demo1/98.jpg')
                  img(src='/img/demo1/99.jpg')
                  img(src='/img/demo1/100.jpg')
                  img(src='/img/demo1/101.jpg')
                  img(src='/img/demo1/102.jpg')
                  img(src='/img/demo1/103.jpg')
                  img(src='/img/demo1/104.jpg')
                  img(src='/img/demo1/105.jpg')
                .content-item
                  p 合体合体!
                  img(src='/img/demo1/106.jpg')
                  img(src='/img/demo1/107.jpg')
                .content-item
                  p 本体已经完成,最后是10号支架以及UCS特有的铭牌
                  img(src='/img/demo1/108.jpg')
                  img(src='/img/demo1/109.jpg')
                  img(src='/img/demo1/120.jpg')
                .content-item
                  p 完成
                  img(src='/img/demo1/121.jpg')
                .content-item
                  p 铭牌
                  img(src='/img/demo1/122.jpg')
                hr
                .content-item
                  h2 成品篇
                  p 接下来就是成品图了
                  img(src='/img/demo1/123.jpg')
                  img(src='/img/demo1/124.jpg')
                .content-item
                  p 驾驶室特写
                  img(src='/img/demo1/125.jpg')
                .content-item
                  p 引擎前部,进气口?
                  img(src='/img/demo1/126.jpg')
                .content-item
                  p 后面看这个角度太帅了,科幻感十足!
                  img(src='/img/demo1/127.jpg')
                .content-item
                  p 引擎特写
                  img(src='/img/demo1/128.jpg')
                  img(src='/img/demo1/129.jpg')
                  img(src='/img/demo1/130.jpg')
                  img(src='/img/demo1/131.jpg')
                  img(src='/img/demo1/132.jpg')
                  img(src='/img/demo1/133.jpg')
                  img(src='/img/demo1/134.jpg')
                .content-item
                  p 接下来是收起两片小翼的横版巡航模式
                  img(src='/img/demo1/135.jpg')
                  img(src='/img/demo1/136.jpg')
                  img(src='/img/demo1/137.jpg')
                  img(src='/img/demo1/138.jpg')
                  img(src='/img/demo1/139.jpg')
                  img(src='/img/demo1/140.jpg')
                .content-item
                  p 最后几张
                  img(src='/img/demo1/141.jpg')
                  img(src='/img/demo1/142.jpg')
                  img(src='/img/demo1/143.jpg')
                  img(src='/img/demo1/144.jpg')
                  img(src='/img/demo1/145.jpg')
                .content-item
                  p 最爱的一张
                  img(src='/img/demo1/146.jpg')
                  img(src='/img/demo1/147.jpg')
                .content-item
                  p 本set的一个亮点就在于驾驶舱的陀螺仪设计,不论飞船是竖起的战斗模式还是横着的巡航模式,还是放在支架上的斜躺姿势,驾驶室始终能保持垂直,实在是狂拽酷炫吊炸天
                  p 至此全部结束了,希望各位小伙伴们看的满意!
        .col-md-3
          nav.nav
            img.good-image(src='/img/demo1/good.jpg')
            a.good-link(href='http://item.taobao.com/item.htm?spm=a230r.1.14.12.yfvRBp&id=18649746489&_u=e159g7pa7a2', target='_blank') 2012 Lego 10227 UCS B-Wing Starfighter
