extends layout/layout

block css_content
  link(rel='stylesheet', href='/css/login.css')

block content
  .row
    .col-md-4.col-md-offset-2
      form.login-form(method = 'post')
        h3.text-muted 让我们一起来发现这个有趣的世界
        p
          input.form-control(name = 'name', placeholder='请输入用户名')
        p
          input.form-control(type = 'password', name = 'password', placeholder='请输入密码')
        p
          button.btn.btn-lg.btn-success.btn-block(type = 'submit') 登录
    .col-md-4
      img(src='/img/login-loop.gif', width='100%')