.table-responsive
  table.table.table-striped
    thead
      tr
        th 详情
        th 文章列表
        th 操作
    tbody
      tr
        td
          .row
            .col-md-2
              img.avatar-min(src='/avatar/applesstt@163.com')
            .col-md-10
              p 姓名：applesstt
              p 邮箱：applesstt@sina.com
              p 城市：北京
              p 网址：applesstt.com
              p 备注：自用小号
        td.admin-links 最近操作
          .text-success xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          .text-success xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          .text-success xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          .text-success xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        td.admin-links
          .row
            a.col-md-6(href='javascript:{}') 提升为超级管理员
            a.col-md-6(href='javascript:{}') 降为普通用户
          .row
            a.col-md-6(href='javascript:{}') 编辑备注信息
            a.col-md-6(href='javascript:{}') 设置管理权限