.table-responsive
  table.table.table-striped
    thead
      tr
        th 首页位置
        th 用户
        th 操作
    tbody
      tr
        td 1
        td
          p
            img.avatar-min(src='/avatar/applesstt@163.com')
            a(href='javascript:{}')   applesstt
        td
          a(href='javascript:{}') 更改用户