extends ../layout/layout-super

append css_content
  link(rel='stylesheet', href='/css/admin.css')

block content-main
  .container-fluid
    .row
      .col-md-2
      .col-md-10

append js_content
  script(src='/lib/angular/angular.min.js')
  script(src='/lib/angular-route/angular-route.min.js')
  script(src='/lib/angular-resource/angular-resource.min.js')
  script(src='/js/super/app.js')