.table-responsive
  table.table.table-striped
    thead
      tr
        th 文章
        th 操作
    tbody
      tr
        td
          p
            img.avatar-min(src='/avatar/applesstt@163.com')
            a(href='javascript:{}')   applesstt
          p testtesttesttesttesttesttesttesttest
        td.admin-links
          .row
            a.col-md-6(href='javascript:{}') 通过
            a.col-md-6(href='javascript:{}') 编辑文章
          .row
            a.col-md-6(href='javascript:{}') 未通过