.table-responsive
  table.table.table-striped
    thead
      tr
        th 详情
        th 文章列表
        th 操作
    tbody
      tr(ng-repeat='user in wrapData.users')
        td.col-md-3
          include include/user-detail
        td
          include include/user-articles
        td.admin-links.col-md-4
          .row
            a.col-md-6(href='javascript:{}') 提升为超级管理员
            a.col-md-6(href='javascript:{}') 降为普通用户
          .row
            a.col-md-6(href='javascript:{}') 编辑备注信息
            a.col-md-6(href='javascript:{}') 设置管理权限
  include include/pagination