include include/csrf
.table-responsive
  table.table.table-striped
    thead
      tr
        th 作者
        th 文章
        th.text-center 操作
    tbody
      tr(ng-repeat='article in wrapData.articles')
        td.col-md-2
          img.avatar-min(ng-src='/avatar/{{article.user.email}}')
          a(href='javascript:{}')   {{article.user.name}}
        td
          include include/article-short
        td.col-md-2.text-center
          p(ng-show='article.checked')
            span.text-success(ng-show='article.show') 已通过
            span.text-danger(ng-show='!article.show') 未通过
          div(ng-show='!article.checked')
            p: a.btn.btn-success.btn-sm(href='javascript:{}', ng-click='setShow($index, true)') 这篇文章很不错
            p: a.btn.btn-danger.btn-sm(href='javascript:{}', ng-click='setShow($index, false)') 这篇文章不合格
  include include/pagination