include include/csrf
.table-responsive
  table.table.table-striped
    thead
      tr
        th 详情
        th 文章列表
        th.text-center 操作
    tbody
      tr(ng-repeat='user in wrapData.users')
        td.col-md-4
          include include/user-detail
        td
          include include/user-articles
        td.admin-links.col-md-2.text-center
          a(href='javascript:{}', ng-click='setSuper($index, !user.isSuperAdmin)', ng-show='!user.isSuperAdmin') 提升为超管
            //span(ng-show='user.isSuperAdmin') 降为管理员
          a(href='javascript:{}', ng-click='setNormalUser($index)', ng-show='user.isAdmin && !user.isSuperAdmin') 降为普通用户
  include include/pagination