.table-responsive
  table.table.table-striped
    thead
      tr
        th 详情
        th 文章列表
        th 操作
    tbody
      tr(ng-repeat='user in wrapData.users')
        td
          .row
            .col-md-2
              img.avatar-min(ng-src='/avatar/{{user.email}}')
            .col-md-10
              p 姓名：{{user.name}}
              p 邮箱：{{user.email}}
              p 城市：{{user.city}}
              p 网址：{{user.website}}
              p 备注：自用小号
        td.admin-links 最近操作
          .text-success xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          .text-success xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          .text-success xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          .text-success xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        td.admin-links
          .row
            a.col-md-6(href='javascript:{}') 提升为超级管理员
            a.col-md-6(href='javascript:{}') 降为普通用户
          .row
            a.col-md-6(href='javascript:{}') 编辑备注信息
            a.col-md-6(href='javascript:{}') 设置管理权限
  include include/pagination