.table-responsive
  table.table.table-striped
    thead
      tr
        th 评论列表
    tbody
      tr(ng-repeat='article in articles')
        td
          include include/article-short
          .panel(ng-repeat='comment in article.comments')
            .panel-body.row
              .col-md-10
                img.avatar-min(ng-src='/avatar/{{comment.user.email}}')
                a(href='javascript:{}')   {{comment.user.name}}
                | : {{comment.body}}
              .col-md-2
                a(href='javascript:{}') 通过
                | &nbsp;&nbsp;|&nbsp;&nbsp;
                a(href='javascript:{}') 不通过