.table-responsive
  table.table.table-striped
    thead
      tr
        th 评论
        th 操作
    tbody
      tr
        td
          p
            img.avatar-min(src='/avatar/applesstt@163.com')
            a(href='javascript:{}')   applesstt
          p 评论了：testtesttesttesttesttesttesttesttest
            br
            | xxxxxx
        td.admin-links
          .row
            a.col-md-6(href='javascript:{}') 通过
          .row
            a.col-md-6(href='javascript:{}') 未通过
