.table-responsive
  table.table.table-striped
    thead
      tr
        th 位置
        th 用户
        th.text-center 操作
    tbody
      tr(ng-repeat='homeStar in wrapData.homeStars')
        td.col-md-1 {{homeStar.index + 1}}
        td
          div(ng-hide='homeStar.isNull')
            p
              a(href='javascript:{}')
                img.avatar-min(ng-src='/avatar/{{homeStar.user.email}}')
                |   {{homeStar.user.name}}
            p {{homeStar.user.email}}
            p {{homeStar.user.city}}
            p {{homeStar.user.website}}
        td.col-md-2.text-center
          a(href='javascript:{}', ng-click='open("", $index)') 更改用户