.table-responsive
  table.table.table-striped
    thead
      tr
        th 位置
        th 文章
        th.text-center 操作
    tbody
      tr(ng-repeat='homeArticle in wrapData.homeArticles')
        td.col-md-1 {{homeArticle.index + 1}}
        td
          div(ng-hide='homeArticle.isNull')
            p(ng-show='homeArticle.article.user && homeArticle.article.user.email')
              img.avatar-min(src='/avatar/{{homeArticle.article.user.email}}')
              a(href='javascript:{}')   {{homeArticle.article.user.name}}
            include include/home-article-short
        td.col-md-2.text-center
          a(href='javascript:{}', ng-click='open("lg", $index)') 更改文章