.table-responsive
  table.table.table-striped
    thead
      tr
        th 位置
        th 文章
        th 操作
    tbody
      tr(ng-repeat='article in wrapData.homeArticles')
        td.col-md-1 {{article.index}}
        td
          div(ng-hide='article.isNull')
            p
              img.avatar-min(src='/avatar/{{article.user.email}}')
              a(href='javascript:{}')   {{article.user.name}}
            include include/article-short
        td.col-md-2
          a(href='javascript:{}') 更改文章