include include/csrf
.table-responsive
  table.table.table-striped
    thead
      tr
        th 详情
        th 文章列表
        th.text-center 操作
    tbody
      tr(ng-repeat='user in wrapData.users')
        td.col-md-4
          include include/user-detail
        td
          include include/user-articles
        td.col-md-2.text-center
          .admin-links
            a(href='javascript:{}', ng-click='setStar($index, !user.isStar)')
              span(ng-show='!user.isStar') 设置为明星
              span(ng-show='user.isStar') 取消明星
            a(href='javascript:{}', ng-click='setAdmin($index, !user.isAdmin && !user.isSuperAdmin)', ng-hide='user.isSuperAdmin')
              span(ng-show='!user.isAdmin && !user.isSuperAdmin') 提升为管理员
              span(ng-show='user.isAdmin') 降为普通用户
          a(href='javascript:{}', class='btn btn-danger btn-sm', ng-click='delUser($index, !user.isDel)', ng-hide='user.isAdmin || user.isSuperAdmin')
            span(ng-show='!user.isDel') 删除该用户
            span(ng-show='user.isDel') 恢复该用户
  include include/pagination