.table-responsive
  table.table.table-striped
    thead
      tr
        th 详情
        th 文章列表
        th 操作
    tbody
      tr(ng-repeat='user in users')
        td
          .row
            .col-md-2
              img.avatar-min(ng-src='/avatar/{{user.email}}')
            .col-md-10
              p 姓名：{{user.name}}
              p 邮箱：{{user.email}}
              p 城市：{{user.city}}
              p 网址：{{user.website}}
        td.admin-links 共发布 5 篇文章
          a(href='javascript:{}') xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          a(href='javascript:{}') xxxxxx
          a(href='javascript:{}') xxxxxx
          a(href='javascript:{}') xxxxxx
        td.admin-links
          .row
            a.col-md-6(href='javascript:{}') 提升为管理员
            a.col-md-6(href='javascript:{}') 提升为超级管理员
          .row
            a.col-md-6(href='javascript:{}') 设置为明星用户
            a.col-md-6(href='javascript:{}') 删除该用户